# Copyright (C) 2026 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

{% if seapath_distro == "Debian" %}
cukinia_conf_include /etc/cukinia/common_security_tests.d/packages_tests.d/debian.conf
{% elif seapath_distro == "SLES" %}
cukinia_conf_include /etc/cukinia/common_security_tests.d/packages_tests.d/sles.conf
{% endif %}
