<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2023, RTE (http://www.rte-france.com) -->
<!-- SPDX-License-Identifier: Apache-2.0 -->

<domain type="{{ vm_domaine | default('kvm') }}">
    <name>{{ name }}</name>
    <description>
            SEAPATH guest - not realtime
    </description>
    <memory unit="KiB">1048576</memory>
    <vcpu placement="static">1</vcpu>
    <os firmware="efi">
      <type arch="x86_64" machine="pc-q35-3.1">hvm</type>
      <bootmenu enable="yes" />
      <boot dev="hd" />
      <bios useserial="yes" rebootTimeout="0" />
      <smbios mode="emulate" />
      <firmware>
          <feature enabled="{{ 'yes' if 'secure-boot' is in vm.vm_features else 'no' }}" name="secure-boot"/>
      </firmware>
    </os>
    <features>
        <acpi/>
        <apic/>
        <vmport state="off"/>
    </features>
    <cpu mode="host-model">
        <topology sockets="1" dies="1" cores="1" threads="1" />
    </cpu>
    <clock offset="utc">
        <timer name="rtc" tickpolicy="catchup" />
        <timer name="pit" tickpolicy="delay" />
        <timer name="hpet" present="no" />
    </clock>
    <on_poweroff>destroy</on_poweroff>
    <on_reboot>restart</on_reboot>
    <on_crash>destroy</on_crash>
    <pm>
        <suspend-to-mem enabled="no" />
        <suspend-to-disk enabled="no" />
    </pm>
    <devices>
        <interface type="ethernet">
            <mac address="{{ mac_address }}"/>
            <target dev="{{ ovs_port }}" managed="no"/>
            <model type="virtio"/>
        </interface>
        <serial type="pty">
            <target type="isa-serial" port="0">
                <model name="isa-serial" />
            </target>
        </serial>
        <console type="pty">
            <target type="serial" port="0" />
        </console>
        <memballoon model="virtio">
	    <stats period="5" />
        </memballoon>
	<vsock model='virtio'>
            <cid auto='yes' />
        </vsock>
        <watchdog model="i6300esb" action="poweroff" />
	<rng model='virtio'>
            <backend model='random'>/dev/urandom</backend>
        </rng>
    </devices>
    <resource>
        <partition>/machine/nort</partition>
    </resource>
</domain>
