# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- include_vars: "{{ ansible_distribution | replace(' ', '_') }}.yml"

- name: configure snmp
  block:
  - name: get {{ snmp_user_name }} uid
    getent:
      database: passwd
      key: "{{ snmp_user_name }}"
  - name: get {{ snmp_user_name }} gid
    getent:
      database: group
      key: "{{ snmp_user_name }}"
  - debug:
      msg:
        - "user id {{ getent_passwd[snmp_user_name][1] }}"
        - "group id {{ getent_group[snmp_user_name][1] }}"

  - name: Set {{ snmp_user_name }} correct uid/gid
    block:
      - name: stop snmpd if needed
        ansible.builtin.systemd:
          name: snmpd.service
          state: stopped
      - name: Ensure group "{{ snmp_user_name }}" exists with correct gid
        ansible.builtin.group:
          name: "{{ snmp_user_name }}"
          state: present
          gid: 902
      - name: Ensure user {{ snmp_user_name }} has correct uid and gid
        user:
          name: "{{ snmp_user_name }}"
          uid: 902
          group: "{{ snmp_user_name }}"
    when: getent_passwd[snmp_user_name][1] != '902' or getent_group[snmp_user_name][1] != '902'

  - name: temp fix for synchronize to force evaluate variables
    set_fact:
      ansible_host: "{{ ansible_host }}"

  - name: Synchronization of snmp_ scripts
    ansible.posix.synchronize:
      src: scripts/
      dest: /usr/local/bin/
      rsync_opts:
      - "--include=*"
      - "--chmod=F755"
      - "--chown=root:root"
  - name: Snmp config
    ansible.builtin.template:
      src: snmpd.conf.j2
      dest: /etc/snmp/snmpd.conf
      mode: '0644'
      owner: root
      group: root
    register: snmpd_conf
  - name: SNMP PASS AGENT script run by net-snmp for seapath tree
    copy:
      src: exposeseapathsnmp.pl
      dest: "/usr/local/bin/exposeseapathsnmp.pl"
      mode: '0755'
  - name: script run by cron job to generate snmp data
    copy:
      src: snmp_getdata.py
      dest: "/usr/local/sbin/snmp_getdata.py"
      mode: '0755'
  - name: cron job to generate snmp data
    copy:
      src: seapathsnmp.cron
      dest: "/etc/cron.d/seapathsnmp"
      mode: '0644'
  - name: Wait for DHCP for SNMP
    lineinfile:
      dest: /lib/systemd/system/snmpd.service
      regexp: "^After="
      line: "After=network-online.target"
      state: present

  - name: SNMP V3
    block:
      # restart is needed for /var/lib/snmp/snmpd.conf to exist
      - name: restart snmpd
        ansible.builtin.systemd:
          name: snmpd.service
          state: restarted
          enabled: yes
      - name: Stop service before snmp v3 related changed
        ansible.builtin.service:
          name: snmpd
          state: stopped
      - name: Remove usmUser lines in snmpd.conf
        ansible.builtin.replace:
          path: /var/lib/snmp/snmpd.conf
          regexp: '^usmUser.*'
          replace: ''
      - name: Add new snmp v3 user account at the beginning of /var/lib/snmp/snmpd.conf
        ansible.builtin.lineinfile:
          path: /var/lib/snmp/snmpd.conf
          line: "createUser {{ item.name }} SHA {{ item.password }} AES {{ item.password }}"
          create: yes
          insertbefore: BOF
        loop: "{{ snmp_accounts }}"
    when: snmp_accounts is defined and snmp_accounts | length > 0

  - name: restart snmpd
    ansible.builtin.systemd:
      name: snmpd.service
      state: restarted
      enabled: yes

  - name: Install sudo {{ snmp_user_name }} user rules
    template:
      src: sudoers_snmp.j2
      dest: "/etc/sudoers.d/{{ snmp_user_name }}"
      owner: root
      group: root
      mode: '0440'
  when: snmp_admin_ip_addr is defined

- name: Disable snmp if it is not needed
  systemd:
    name: snmpd.service
    state: stopped
    enabled: no
  when: snmp_admin_ip_addr is not defined
