# Copyright (C) 2024 RTE
# Copyright (C) 2024-2025 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

---
- name: Define buffer directory
  ansible.builtin.set_fact:
    add_libvirtadmin_user_buffer_dir: "buffer"
  run_once: true

- name: Create Libvirt administration user
  user:
    name: "libvirtadmin"
    shell: /bin/bash
    system: true
    group: libvirt
    create_home: true

- name: Unlock the user
  replace:
      path: /etc/shadow
      regexp: '^libvirtadmin:!:'
      replace: 'libvirtadmin:*:'

- name: Generate root SSH key
  user:
    name: "root"
    generate_ssh_key: yes
    ssh_key_type: rsa
    ssh_key_bits: 4096
    ssh_key_file: .ssh/id_rsa
    ssh_key_passphrase: ""
    force: false
- name: Get root user's home directory
  shell:
    cmd: set -o pipefail && getent passwd root | cut -d ':' -f6
    executable: /bin/bash
  register: add_libvirtadmin_user_root_home_dir
  changed_when: true

- name: Compute cluster nodes list
  ansible.builtin.set_fact:
    add_libvirtadmin_user_cluster_nodes: >-
      {{ (groups.get('hypervisors', []) | intersect(groups.get('cluster_machines', []))) }}

- name: Fetch the root public key to controller 
  ansible.builtin.fetch:
    src: "{{ add_libvirtadmin_user_root_home_dir.stdout }}/.ssh/id_rsa.pub"
    dest: "{{ add_libvirtadmin_user_buffer_dir }}/"
    flat: false

- name: Fetch the SSH host ed25519 public key to controller
  ansible.builtin.fetch:
    src: "/etc/ssh/ssh_host_ed25519_key.pub"
    dest: "{{ add_libvirtadmin_user_buffer_dir }}/"
    flat: false

- name: Copy cluster root keys into libvirtadmin authorized_keys
  ansible.posix.authorized_key:
    user: "libvirtadmin"
    state: present
    key: "{{ lookup('file', add_libvirtadmin_user_buffer_dir ~ '/' ~ item ~ '/root/.ssh/id_rsa.pub') }}"
  loop: "{{ add_libvirtadmin_user_cluster_nodes }}"
  loop_control:
    label: "{{ item }}"
  when: add_libvirtadmin_user_cluster_nodes | length > 0

- name: Populate root known_hosts with cluster host keys
  ansible.builtin.known_hosts:
    path: "{{ add_libvirtadmin_user_root_home_dir.stdout }}/.ssh/known_hosts"
    name: "{{ item }}"
    key: "{{ item }} {{ (lookup('file', add_libvirtadmin_user_buffer_dir ~ '/' ~ item ~ '/etc/ssh/ssh_host_ed25519_key.pub') | trim) }}"
  loop: "{{ add_libvirtadmin_user_cluster_nodes }}"
  loop_control:
    label: "{{ item }}"
  when: add_libvirtadmin_user_cluster_nodes | length > 0
