# Copyright (C) 2024 RTE
# Copyright (C) 2024 Red Hat, Inc.
# SPDX-License-Identifier: Apache-2.0

---
- name: Disable vim defaults
  lineinfile:
    dest: /etc/vimrc
    regexp: '^"? *let g:skip_defaults_vim = 1$'
    line: "let g:skip_defaults_vim = 1"
    state: present
- name: Vim color syntax
  lineinfile:
    dest: /etc/vimrc
    regexp: '^"? *syntax on$'
    line: "syntax on"
    state: present
- name: Remove vimrc.local file
  file:
    path: /etc/vimrc.local
    state: absent

- name: Create /var/log/syslog-ng folder on hosts
  file:
    path: /var/log/syslog-ng
    state: directory
    mode: '0755'
- name: Copy syslog-ng conf file
  template:
    src: syslog-ng.conf.j2
    dest: /etc/syslog-ng/syslog-ng.conf
    mode: '0644'
  notify: Restart syslog-ng
- name: Configure syslog-ng TLS client certificates if needed
  when:
    - syslog_tls_ca is defined
    - syslog_tls_key is defined
    - syslog_tls_server_ca is defined
  block:
  - name: Create /etc/syslog-ng/cert.d
    file:
      path: /etc/syslog-ng/cert.d
      state: directory
      mode: '0755'
    notify: Restart syslog-ng
  - name: Create /etc/syslog-ng/ca.d
    file:
      path: /etc/syslog-ng/ca.d/
      state: directory
      mode: '0755'
    notify: Restart syslog-ng
  - name: Copy syslog client certificate
    ansible.builtin.copy:
      src: "{{ syslog_tls_ca }}"
      dest: /etc/syslog-ng/cert.d/clientcert.pem
      mode: '0644'
    notify: Restart syslog-ng
  - name: Copy syslog key
    ansible.builtin.copy:
      src: "{{ syslog_tls_key }}"
      dest: /etc/syslog-ng/cert.d/clientkey.pem
      mode: '0400'
    notify: Restart syslog-ng
  - name: Copy syslog server ca
    ansible.builtin.copy:
      src: "{{ syslog_tls_server_ca }}"
      dest: /etc/syslog-ng/ca.d/serverca.pem
      mode: '0644'
    notify: Restart syslog-ng

- name: Copy journald conf file
  ansible.builtin.copy:
    src: journald.conf
    dest: /etc/systemd/journald.conf
    mode: '0644'
  notify: Restart systemd-journald

- name: Ensure admin group exists
  ansible.builtin.group:
    name: "{{ admin_user }}"
    state: present
    gid: 1000
- name: Adding admin user
  user:
    name: "{{ admin_user }}"
    shell: /bin/bash
    group: "{{ admin_user }}"
    uid: 1000
    password: "{{ admin_passwd | default(omit) }}"
    append: no
  no_log: true
- name: Add authorized keys to admin user
  ansible.posix.authorized_key:
    user: "{{ admin_user }}"
    key: "{{ item }}"
  with_items: "{{ admin_ssh_keys }}"
  when: admin_ssh_keys is defined and admin_ssh_keys is iterable
- name: Install sudo admin user rules
  copy:
    content: |
      {{ admin_user }}   ALL=NOPASSWD:EXEC: ALL
    dest: "/etc/sudoers.d/{{ admin_user }}"
    owner: root
    group: root
    mode: '0440'
- name: Remove admin sudoers line created by build_debian_iso
  lineinfile:
    dest: /etc/sudoers
    state: absent
    regexp: '^{{ admin_user }}'
    validate: visudo -cf %s

- name: Copy sysctl rules
  ansible.builtin.copy:
    src: sysctl/{{ item }}
    dest: /etc/sysctl.d/{{ item }}
    mode: '0644'
  with_items:
    - 00-panicreboot.conf

- name: Customize /etc/environment
  ansible.builtin.lineinfile:
    dest: "/etc/environment"
    state: present
    regexp: "^{{ item.key }}="
    line: "{{ item.key }}={{ item.value }}"
  vars:
    env_list:
      HISTSIZE: 2000000
      HISTFILESIZE: 2000000
      LIBVIRT_DEFAULT_URI: "qemu:///system"
      HISTTIMEFORMAT: '"%F %T "'
      EDITOR: 'vim'
      SYSTEMD_EDITOR: 'vim'
  with_items: "{{ env_list | dict2items }}"

- name: "PATH for admin user"
  lineinfile:
    dest: "/home/{{ admin_user }}/.bash_profile"
    regexp: '^export PATH'
    line: "export PATH=$PATH:/usr/sbin:/usr/local/sbin:/sbin"
    state: present
    create: yes
    owner: "{{ admin_user }}"
    group: "{{ admin_user }}"
    mode: '0644'

- name: Remove GRUB_CMDLINE_LINUX_DEFAULT option in grub conf
  lineinfile:
    dest: /etc/default/grub
    regexp: "^GRUB_CMDLINE_LINUX_DEFAULT="
    state: absent

- name: Make sure GRUB_CMDLINE_LINUX starts with a space
  lineinfile:
    dest: /etc/default/grub
    regexp: "^(GRUB_CMDLINE_LINUX=)\"([ ]*)(.*)\""
    line: '\1" \3"'
    state: present
    backrefs: yes

- name: Grub conf
  lineinfile:
    dest: /etc/default/grub
    regexp: "^(GRUB_CMDLINE_LINUX=(?!.* {{ item }})\"[^\"]*)(\".*)"
    line: '\1 {{ item }}\2'
    state: present
    backrefs: yes
  notify: Update Grub
  with_items:
    - ipv6.disable=1
    - efi=runtime
    - fsck.mode=force
    - fsck.repair=yes
    - "{{ grub_append | default([]) }}"

- name: Grub conf osprober
  lineinfile:
    dest: /etc/default/grub
    regexp: '^#?GRUB_DISABLE_OS_PROBER=.*$'
    line: 'GRUB_DISABLE_OS_PROBER=true'
    state: present
  notify: Update Grub

- name: Stop and Disable NetworkManager
  service:
    name: NetworkManager
    state: stopped
    enabled: no
  register: centos_nm_stop

- name: Start and Enable systemd-networkd
  service:
    name: systemd-networkd
    state: started
    enabled: yes
  register: centos_sd_start

- name: Set need_reboot to true if any change was made
  set_fact:
    need_reboot: true # noqa: var-naming[no-role-prefix]
  when: centos_nm_stop is changed or centos_sd_start is changed
