[submodule "ceph-ansible"]
	path = ceph-ansible
	url = https://github.com/ceph/ceph-ansible.git
	ignore = dirty
	branch = stable-8.0
[submodule "roles/deploy_cukinia_tests/cukinia-tests"]
	path = roles/deploy_cukinia_tests/cukinia-tests
	url = https://github.com/seapath/cukinia-tests.git
        branch = trixie
[submodule "roles/deploy_cukinia/files/cukinia"]
	path = roles/deploy_cukinia/files/cukinia
	url = https://github.com/savoirfairelinux/cukinia.git
        branch = master
[submodule "roles/deploy_python3_setup_ovs/files/python3-setup-ovs"]
	path = roles/deploy_python3_setup_ovs/files/python3-setup-ovs
	url = https://github.com/seapath/python3-setup-ovs.git
        branch = main
[submodule "roles/deploy_vm_manager/files/vm_manager"]
	path = roles/deploy_vm_manager/files/vm_manager
	url = https://github.com/seapath/vm_manager.git
        branch = main
