# Ignore roles directory
roles/systemd_networkd/
roles/corosync/
# Ignore collections directory
collections/
*.pdf
ansible.log
playbooks/*
!playbooks/README.adoc
!playbooks/cluster_setup_*.yaml
!playbooks/ci_*.yaml
!playbooks/replace_machine_*.yaml
!playbooks/test_*.yaml
!playbooks/tasks/
!playbooks/standalone*
!playbooks/vm_*.yaml
inventories/*
!inventories/README.adoc
!inventories/*example*

# Ide
.idea/

# Ignore module documentation
module_documentation

# Ignore python cache files
__pycache__/
.pyc

#privatekey
cluster_rsa

#ansible facts
facts/

#private inventories
inventories_private/

# Ignore Cukinia results
/*.csv
/*.xml

# VM folder
vm_images/*.qcow2

# Src from privates repos
src/trafgen/*
!src/trafgen/README
