[submodule "ceph-ansible"]
	path = ceph-ansible
	url = https://github.com/ceph/ceph-ansible.git
	ignore = dirty
	branch = stable-6.0
[submodule "src/debian/python3-setup-ovs"]
	path = src/debian/python3-setup-ovs
	url = https://github.com/seapath/python3-setup-ovs.git
	branch = main
[submodule "src/debian/vm_manager"]
	path = src/debian/vm_manager
	url = https://github.com/seapath/vm_manager.git
        branch = main
[submodule "src/cukinia-tests"]
	path = src/cukinia-tests
	url = https://github.com/insatomcat/seapath-cukinia-tests.git
        branch = main
[submodule "src/cukinia"]
	path = src/cukinia
	url = https://github.com/savoirfairelinux/cukinia.git
        branch = master
