# Ignore roles directory
roles/systemd_networkd/
roles/corosync/
# Ignore collections directory
collections/
*.pdf
ansible.log
playbooks/*
!playbooks/README.adoc
!playbooks/cluster_setup_*.yaml
!playbooks/ci_*.yaml
inventories/*
!inventories/README.adoc

# Ide
.idea/
