# Copyright (C) 2020, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

# This file define Ansible global configuration.

# Comments inside this file must be set BEFORE the option.
# NOT after the option, otherwise the comment will be interpreted as a value to that option.

[defaults]
library = ./library:./ceph-ansible/library
action_plugins = ./ceph-ansible/plugins/actions
callback_plugins = ./ceph-ansible/plugins/callback
filter_plugins = ./ceph-ansible/plugins/filter
log_path = ./ansible.log
roles_path = ./roles:ceph-ansible/roles
forks = 20
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections

# Uncomment this if you want disable the ssh key check. It is useful in
# developement but must not be set in production.
#host_key_checking = False
gathering = explicit
nocows = 1
callbacks_enabled = profile_tasks
stdout_callback = yaml
force_valid_group_names = ignore
timeout = 60
any_errors_fatal = True
