[Unit]
Description=Monitor Journalctl hard

[Service]
User=root
Restart=always

ExecStart=/usr/local/sbin/monitor_journalctl_hard.sh

[Install]
WantedBy=multi-user.target
