[Unit]
After=rbdmap.service
After=libvirt-guests.service
After=ceph.target

[Install]
WantedBy=corosync.service

[Service]
TimeoutStopSec={{ pacemaker_shutdown_timeout | default("2min") }}
TimeoutStartSec=60s
