* Purpose of the test
  ** Perform SV IEC61850 packet network latency tests
  ** Compute latency between publisher and VM userspace.

* Number of sent IEC61850 Sampled Values streams: 8 {# TODO templatize if configurable #}
* Test duration: {{ env["LATENCY_TESTS_DURATION"] }}

{% for vm, vm_data in vms.items() if vm_data.rt and vm_data.sv_subscriber %}
include::latency_tests_{{ vm }}.adoc[leveloffset=-4]
{% endfor %}
