<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2020, RTE (http://www.rte-france.com) -->
<!-- SPDX-License-Identifier: Apache-2.0 -->

<!--
Example of a VM template used by add_vm_playbook_example.yaml playbook.

With the exception of "vm_uuid" and "secret_uuuid" which are defined by the
seapath_vm_manage role all variables must be defined before using this template.
-->

<domain type="{{ vm_domaine | default('kvm') }}">
    <name>{{ vm_name }}</name>
    <uuid>{{ vm_uuid }}</uuid>
    <title>VOTP {{ vm_name }}</title>
    <description>
            Test template working with add_vm_playbook_example.yaml
    </description>
    <memory unit="KiB">1048576</memory>
    <currentMemory unit="KiB">1048576</currentMemory>
    <vcpu placement="static">2</vcpu>
    <memoryBacking>
        <hugepages>
            <page size='1048576' unit='KiB'/>
        </hugepages>
    </memoryBacking>
    <cputune>
        <shares>4096</shares>
        <vcpupin vcpu='0' cpuset='4'/>
        <vcpupin vcpu='1' cpuset='5'/>
        <emulatorpin cpuset='4-5'/>
    </cputune>
    <os firmware="efi">
        <type arch="x86_64" machine="pc-i440fx-4.1">hvm</type>
        <boot dev="hd" />
        <bootmenu enable="no" />
        <bios useserial="yes" rebootTimeout="0" />
        <smbios mode="emulate" />
    </os>
    <features>
        <acpi />
        <apic />
        <vmport state="off" />
    </features>
    <cpu mode="host-model" check="partial">
        <model fallback="allow" />
        <numa>
            <cell id='0' cpus='0-1' memory='1048576' unit='KiB' memAccess='shared'/>
        </numa>
    </cpu>
    <clock offset="utc">
        <timer name="rtc" tickpolicy="catchup" />
        <timer name="pit" tickpolicy="delay" />
        <timer name="hpet" present="no" />
    </clock>
    <on_poweroff>destroy</on_poweroff>
    <on_reboot>restart</on_reboot>
    <on_crash>destroy</on_crash>
    <pm>
        <suspend-to-mem enabled="no" />
        <suspend-to-disk enabled="no" />
    </pm>
    <devices>
        <emulator>/usr/bin/qemu-system-x86_64</emulator>
        <!-- Ceph disk -->
        <disk type="network" device="disk">
            <!-- Only writeback caches are secure with Ceph RBD -->
            <driver name="qemu" type="raw" cache="writeback" />
            <auth username="libvirt">
                <secret type="ceph" uuid="{{ secret_uuid }}" />
            </auth>
            <source protocol="rbd" name="{{ rbd_pool }}/{{ os_disk }}">
                <host name="rbd" port="6789" />
            </source>
            <target dev="vda" bus="virtio" />
            </disk>
            <disk type="network" device="disk">
            <!-- Only writeback caches are secure with Ceph RBD -->
            <driver name="qemu" type="raw" cache="writeback" />
            <auth username="libvirt">
                <secret type="ceph" uuid="{{ secret_uuid }}" />
            </auth>
            <source protocol="rbd" name="{{ rbd_pool }}/{{ data_disk }}">
                <host name="rbd" port="6789" />
            </source>
            <target dev="vdb" bus="virtio" />
        </disk>

        <controller type="usb" index="0" model="piix3-uhci" />
        <controller type="pci" index="0" model="pci-root" />
        <!-- Network connexion without DPDK -->
        <interface type="ethernet">
            <mac address="{{ mac_address1 }}" />
            <target dev="{{ ovs_internal_port }}" managed="no"/>
            <model type="virtio"/>
        </interface>
        <!-- Network connexion with DPDK -->
        <interface type='vhostuser'>
            <!--
                DPDK sockets are named dpdkvhostuser_[bridge name][port number]
                Where [bridge name] is the OVS bridge name e.g. ovsbr1
                [port number] is the OVS bridge virtual port number
             -->
            <source type='unix' path='/var/run/openvswitch/vm-sockets/{{ ovs_br }}{{ ovs_port }}' mode='server'/>
            <mac address="{{ mac_address2 }}" />
            <model type='virtio'/>
            <driver name='vhost' rx_queue_size='1024' tx_queue_size='1024'>
                <host mrg_rxbuf='on'/>
            </driver>
        </interface>

        <serial type="pty">
            <target type="isa-serial" port="0">
                <model name="isa-serial" />
            </target>
        </serial>
        <console type="pty">
            <target type="serial" port="0" />
        </console>
        <memballoon model="virtio">
            <address type="pci" domain="0x0000" bus="0x00" slot="0x03" function="0x0" />
        </memballoon>
        <watchdog model="ib700" action="poweroff" />
    </devices>
</domain>
