#!/usr/bin/sh

echo superusers="root"
echo password_pbkdf2 root {{ grub_password }}
awk -v cmdline=" ro $GRUB_CMDLINE_LINUX" '/^menuentry.*Debian/,/}/ {gsub(/menuentry.*{/,"menuentry 'Debian' --unrestricted {"); gsub(/ ro .*/, cmdline); print}' /boot/grub/grub.cfg
echo "cmdline :"
echo $GRUB_CMDLINE_LINUX
