# Copyright (C) 2021, RTE (http://www.rte-france.com)
# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0
---

network_systemdnetworkd_network_custom: "{{ custom_network | default({}) }}"
network_systemdnetworkd_netdev_custom: "{{ custom_netdev | default({}) }}"

network_systemdnetworkd_br0vlan_netdev:
  79-br0:
    - NetDev:
        - Name: "br0"
        - Kind: "bridge"
    - Bridge:
        - DefaultPVID: "none"
        - VLANFiltering: "yes"
  79-br0vlan:
    - NetDev:
        - Name: "vlan{{ br0vlan | default('') }}"
        - Kind: "vlan"
    - VLAN:
        - Id: "{{ br0vlan | default('') }}"
network_systemdnetworkd_br0vlan_network:
  79-br0vlan:
    - Match:
        - Name: "vlan{{ br0vlan | default('') }}"
    - Network:
        - Gateway: "{{ gateway_addr }}"
        - Address: "{{ ip_addr }}/{{ subnet | default(24) }}"
  79-br0:
    - Match:
        - Name: "br0"
    - Network:
        - VLAN: "vlan{{ br0vlan | default('') }}"
    - BridgeVLAN:
        - VLAN: "{{ br0vlan | default('') }}"
  79-wired:
    - Match:
        - Name: "{{ network_interface }}"
    - Network:
      - Bridge: "br0"
    - BridgeVLAN:
        - VLAN: "1-4094"

network_systemdnetworkd_br0_netdev:
  79-br0:
    - NetDev:
        - Name: "br0"
        - Kind: "bridge"

network_systemdnetworkd_br0_network:
  79-br0:
    - Match:
        - Name: "br0"
    - Network:
        - Gateway: "{{ gateway_addr }}"
        - Address: "{{ ip_addr }}/{{ subnet | default(24) }}"
  79-wired:
    - Match:
        - Name: "{{ network_interface }}"
    - Network:
      - Bridge: "br0"

network_systemdnetworkd_wired_netdev: "{{ network_systemdnetworkd_br0vlan_netdev if br0vlan is defined else network_systemdnetworkd_br0_netdev }}"
network_systemdnetworkd_wired_network: "{{ network_systemdnetworkd_br0vlan_network if br0vlan is defined else network_systemdnetworkd_br0_network }}"

network_systemdnetworkd_netdev_nocluster: "{{ network_systemdnetworkd_wired_netdev | combine(network_systemdnetworkd_netdev_custom) }}"
network_systemdnetworkd_network_nocluster: "{{ network_systemdnetworkd_wired_network | combine(network_systemdnetworkd_network_custom) }}"

## Helper variables, this should probably be refactored with the other network vars files TODO
network_systemdnetworkd_no_cluster_network_variable: "{{ network_systemdnetworkd_no_cluster_network is defined and network_systemdnetworkd_no_cluster_network }}"
network_systemdnetworkd_include_cluster: "{{ 'cluster_machines' in groups and inventory_hostname in groups['cluster_machines'] and not network_systemdnetworkd_no_cluster_network_variable }}"

network_systemdnetworkd_network: "{{ network_systemdnetworkd_network_nocluster | combine(network_systemdnetworkd_team0_network) if network_systemdnetworkd_include_cluster else network_systemdnetworkd_network_nocluster }}"
network_systemdnetworkd_netdev: "{{ network_systemdnetworkd_netdev_nocluster }}"
