# Copyright (C) 2021, RTE (http://www.rte-france.com)
# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0
---

network_systemdnetworkd_network_custom: "{{ custom_network | default({}) }}"
network_systemdnetworkd_netdev: "{{ custom_netdev | default({}) }}"

## Helper variables, this should probably be refactored with the other network vars files TODO
network_systemdnetworkd_no_cluster_network_variable: "{{ network_systemdnetworkd_no_cluster_network is defined and network_systemdnetworkd_no_cluster_network }}"
network_systemdnetworkd_include_cluster: "{{ 'cluster_machines' in groups and inventory_hostname in groups['cluster_machines'] and not network_systemdnetworkd_no_cluster_network_variable }}"

network_systemdnetworkd_network: "{{ network_systemdnetworkd_network_custom | combine(network_systemdnetworkd_team0_network) if network_systemdnetworkd_include_cluster else network_systemdnetworkd_network_custom }}"

...
