# Copyright (C) 2021, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

SERVER_IP={{ test_server_ip }}
FILE_PATH=/test_sync_file
PERIOD=500
SEND_PERIODICALLY={{ send_periodic | default("no") }}
