# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

---
- name: Gather only ansible_distribution facts
  ansible.builtin.setup:
    filter: ansible_distribution*

- name: Set detect_seapath_distro_distro from seapath_distro if it exists
  set_fact:
    detect_seapath_distro_distro: "{{ seapath_distro }}"
  when: seapath_distro is defined

- name: Show detect_seapath_distro_distro
  debug:
    var: detect_seapath_distro_distro

- name: Detect Debian distribution
  set_fact:
    detect_seapath_distro_distro: Debian
  when: ansible_distribution | regex_search("Debian") != None

- name: Detect Centos distribution
  set_fact:
    detect_seapath_distro_distro: CentOS
  when: ansible_distribution | regex_search("CentOS|RedHat") != None

- name: Detect OracleLinux distribution
  set_fact:
    detect_seapath_distro_distro: OracleLinux
  when: ansible_distribution | regex_search("Oracle") != None

- name: Show detect_seapath_distro_distro
  debug:
    var: detect_seapath_distro_distro

- name: Detect Yocto distribution
  when: detect_seapath_distro_distro is not defined
  block:
    - name: Search CPE_NAME field of {{ ansible_distribution_file_path }}
      command: grep 'CPE_NAME.*cpe:/o:openembedded' {{ ansible_distribution_file_path }}
      register: detect_seapath_distro_ret
      failed_when: detect_seapath_distro_ret.rc != 0 and detect_seapath_distro_ret.rc != 1
      changed_when: false
    - name: Set detect_seapath_distro_distro for Yocto distro
      set_fact:
        detect_seapath_distro_distro: Yocto
      when: detect_seapath_distro_ret.rc == 0

- name: Check distro detection
  fail:
    msg: "The Seapath distribution could not be determined"
  when: detect_seapath_distro_distro is not defined

- name: Set seapath_distro for external use
  set_fact:
    seapath_distro: "{{ detect_seapath_distro_distro }}" # noqa: var-naming[no-role-prefix]
  when: detect_seapath_distro_distro is defined

- name: Set is_using_cephadm depending on distro and option
  set_fact:
    is_using_cephadm: "{{ seapath_distro == 'OracleLinux' or seapath_distro == 'Debian' or (force_cephadm | default(false)) }}" # noqa: var-naming[no-role-prefix]

...
