# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- block:
    - name: Create systemd-networkd-wait-online.service.d directory
      file:
        path: /etc/systemd/system/systemd-networkd-wait-online.service.d/
        state: directory
        owner: root
        group: root
        mode: 0755
    - name: Copy systemd-networkd-wait-online.service overide
      template:
        src: systemd-networkd-wait-online.service.j2
        dest: /etc/systemd/system/systemd-networkd-wait-online.service.d/override.conf
    - name: enable systemd-networkd-wait-online.service
      ansible.builtin.systemd:
        name: systemd-networkd-wait-online.service
        enabled: yes
  when: netplan_configurations is not defined

