# Copyright (C) 2024 Red Hat, Inc.
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description="Configure OVS bridges and ports"
After=ovs-vswitchd.service
Before=libvirtd.service
Before=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/usr/share/openvswitch/scripts/ovs-ctl start
ExecStart=/usr/local/bin/setup_ovs.py

[Install]
WantedBy=multi-user.target
