[Unit]
Description=VSock server for PTP status

[Service]
DynamicUser=yes
Restart=always

ExecStart=/var/lib/ptp/ptp_vsock.py 9999

[Install]
WantedBy=multi-user.target
