# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

---

- name: Check if the system have swupdate
  command: swupdate -v
  register: update_swupdate_version
  ignore_errors: yes
  changed_when: false
- name: Fail if swupdate is not available
  fail:
    msg: "Only Swupdate update is supported"
  when: update_swupdate_version.rc != 0


- name: Check the SEAPATH mode, cluster or standalone
  stat:
    path: /etc/corosync/corosync.conf
  register: update_corosync_conf

- name: Perform corosync ressource migration if cluster mode 
  when: update_corosync_conf.stat.exists
  block:
    - name: Set hypervisor in maintenance mode
      command: crm node standby "{{ inventory_hostname }}"
      changed_when: true
    - name: Wait for all ressources to be migrated
      shell:
        cmd: set -o pipefail && crm status|grep "Migrating"|wc -l
        executable: /bin/bash
      changed_when: false
      register: update_check_migration
      until: update_check_migration.stdout == '0'
      retries: 10

- name: Copy SWU file on machine
  copy:
    src: "{{ update_swu_image_path }}"
    dest: "/tmp/update.swu"
- name: Apply update
  command: swupdate -i /tmp/update.swu
  changed_when: true
- name: Reboot host
  reboot:
    msg: "Reboot initiated by Ansible"
    connect_timeout: 5
    reboot_timeout: 600
    pre_reboot_delay: 0
    post_reboot_delay: 30
    test_command: whoami
- name: Wait systemd has finished to boot
  command: systemctl is-system-running --wait
  register: system_status
  changed_when: false
  failed_when: system_status.rc != 0 and system_status.rc != 1
  tags:
    - skip_ansible_lint


- name: Unset maintenance mode for hypervisor
  command: crm node online "{{ inventory_hostname }}"
  when: update_corosync_conf.stat.exists
  changed_when: true

- name: Check if update has succeed
  shell:
    cmd: set -o pipefail && journalctl -u swupdate_check.service -b |grep "Update have failed"|wc -l
    executable: /bin/bash
  register: update_status
  failed_when: update_status.stdout != '0'
  changed_when: false
