# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- name: Create conntrackd.service.d directory
  file:
    path: /etc/systemd/system/conntrackd.service.d/
    state: directory
    owner: root
    group: root
    mode: 0755
- name: Copy conntrackd.service drop-in
  ansible.builtin.copy:
    src: conntrackd_override.conf
    dest: /etc/systemd/system/conntrackd.service.d/override.conf
    owner: root
    group: root
    mode: 0644
  register: conntrackd_conntrackd
- name: Restart conntrackd
  ansible.builtin.systemd:
    state: restarted
    daemon_reload: yes
    name: conntrackd_conntrackd
  when: conntrackd_conntrackd.changed and conntrackd_conntrackd_ignore_ip_list is defined

- name: Configure conntrackd if ip_list defined
  when: conntrackd_ignore_ip_list is defined
  block:
    - name: Copy conntrackd.conf file
      template:
        src: conntrackd.conf.j2
        dest: /etc/conntrackd/conntrackd.conf
        group: root
        owner: root
        mode: '0644'
      register: conntrackd_conntrackdconf
    - name: Enable conntrackd.service
      ansible.builtin.systemd:
        name: conntrackd.service
        enabled: yes
        state: started
    - name: Enable conntrackd.service # noqa: no-handler
      ansible.builtin.systemd:
        name: conntrackd.service
        enabled: yes
        state: restarted
      when: conntrackd_conntrackdconf.changed

- name: Stop and disable conntrackd.service
  ansible.builtin.systemd:
    name: conntrackd.service
    enabled: no
    state: stopped
  when: conntrackd_ignore_ip_list is not defined

