# Device for /var/log storage
REBOOTER_LOG_DEVICE={{ centos_physical_machine_lvm_rebooter_log_device }}

# Relative path from device root for /var/log
REBOOTER_LOG_PATH={{ centos_physical_machine_lvm_rebooter_log_path }}
