service_type: crash
service_name: crash
placement:
  host_pattern: '*'
---
service_type: mgr
service_name: mgr
placement:
  host_pattern: '*'
---
service_type: mon
service_name: mon
placement:
  host_pattern: '*'
---
{% for host in groups['osds'] %}
service_type: osd
service_id: {{ 'osd' ~ (groups['osds'].index(host) + 1) }}
service_name: osd.{{ 'osd' ~ (groups['osds'].index(host) + 1) }}
placement:
  host_pattern: {{ hostvars[host]['hostname'] }}
spec:
  data_devices:
    paths:
    - /dev/vg_ceph/lv_ceph
  filter_logic: AND
  objectstore: bluestore
---
{% endfor %}
