service_type: crash
service_name: crash
placement:
  host_pattern: '*'
---
service_type: mgr
service_name: mgr
placement:
  host_pattern: '*'
---
service_type: mon
service_name: mon
placement:
  host_pattern: '*'
---
{% for host in groups['cluster_machines'] %}
{% set osd_disks = hostvars[host]['cephadm_osd_disks'] | default([]) %}
{% if osd_disks | length > 0 %}
service_type: osd
service_id: {{ hostvars[host]['hostname'] }}
service_name: osd.{{ hostvars[host]['hostname'] }}
placement:
  host_pattern: {{ hostvars[host]['hostname'] }}
spec:
  data_devices:
    paths:
{% for disk in osd_disks %}
    - {{ disk }}
{% endfor %}
  filter_logic: AND
  objectstore: bluestore
---
{% endif %}
{% endfor %}
