# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

---
- when: seapath_distro in [ "CentOS", "Debian", "OracleLinux" ]
  block:
    - name: Get root user's home directory
      shell:
        cmd: set -o pipefail && getent passwd root | cut -d ':' -f6
        executable: /usr/bin/bash
      register: configure_admin_user_root_home_dir
      changed_when: false
    - name: Fetch the root keyfile
      fetch:
        src: "{{ configure_admin_user_root_home_dir.stdout }}/.ssh/id_rsa.pub"
        dest: "buffer/{{ inventory_hostname }}-id_rsa.pub"
        flat: true
    - name: Copy the key to admin user's authorized_keys using Ansible module
      ansible.posix.authorized_key:
        user: "{{ admin_user }}"
        state: present
        key: "{{ lookup('file', 'buffer/' + item + '-id_rsa.pub') }}"
      loop: "{{ groups['hypervisors'] | intersect(groups['cluster_machines']) }}"
