---

- name: Include network_team0 vars file
  include_vars: "network_team0.yml"

- name: Include network_empty vars file
  include_vars: "network_empty.yml"
  when: network_simple is defined and network_simple

- name: Include network_defaults vars file
  include_vars: "network_defaults.yml"
  when: network_simple is not defined or not network_simple

- name: Gather service facts to detect udev service
  ansible.builtin.service_facts:

- name: Check if systemd-udev-trigger is present
  ansible.builtin.set_fact:
    network_systemdnetworkd_service_name_udev: systemd-udev-trigger
  when: '"systemd-udev-trigger.service" in services'

- name: Import link/netdev/networks profiles
  import_tasks: profiles.yml

- name: Enable systemd-networkd
  ansible.builtin.service:
    name: systemd-networkd
    enabled: true
  when: >
    network_systemdnetworkd_network is defined and network_systemdnetworkd_network | length > 0
    or
    network_systemdnetworkd_link is defined and network_systemdnetworkd_link | length > 0
    or
    network_systemdnetworkd_netdev is defined and network_systemdnetworkd_netdev | length > 0

- name: Start and enable systemd-resolved
  service:
    name: systemd-resolved
    enabled: yes
    state: started
  when: network_systemdnetworkd_enable_resolved
