---

- name: Copy .link profiles
  template:
    src: "systemd_networkd_profile.j2"
    dest: "/etc/systemd/network/{{ item.key }}.link"
    owner: root
    group: systemd-network
    mode: 0640
  loop: "{{ network_systemdnetworkd_link | dict2items }}"
  notify:
    - Reload systemd-networkd
    - Restart udev
    - Check reboot

- name: Copy .netdev profiles
  template:
    src: "systemd_networkd_profile.j2"
    dest: "/etc/systemd/network/{{ item.key }}.netdev"
    owner: root
    group: systemd-network
    mode: 0640
  loop: "{{ network_systemdnetworkd_netdev | dict2items }}"
  notify:
    - Reload systemd-networkd
    - Check reboot

- name: Copy .network profiles
  template:
    src: "systemd_networkd_profile.j2"
    dest: "/etc/systemd/network/{{ item.key }}.network"
    owner: root
    group: systemd-network
    mode: 0640
  loop: "{{ network_systemdnetworkd_network | dict2items }}"
  notify:
    - Reload systemd-networkd
    - Check reboot
