# Copyright (C) 2023, RTE (http://www.rte-france.com)
# Copyright (C) 2026 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

groups=" \
    {{ admin_user }} \
{% if inventory_hostname in groups.get('cluster_machines', []) %}
    ceph \
    haclient \
{% endif %}
{% if inventory_hostname in groups.get('cluster_machines', []) and (is_using_cephadm | default(false)) %}
    containerized-ceph \
    cephadm \
{% endif %}
    adm \
    ansible \
    audio \
    backup \
    bin \
    cdrom \
    _chrony \
    clock \
    crontab \
    daemon \
    Debian-snmp \
    dialout \
    dip \
    disk \
    fax \
    floppy \
    games \
    input \
    irc \
    kmem \
    kvm \
    libvirt \
    libvirt-qemu \
    list \
    lp \
    mail \
    man \
    messagebus \
    netdev \
    news \
    nogroup \
    operator \
    plugdev \
    polkitd \
    privileged \
    proxy \
    rdma \
    render \
    root \
    sasl \
    sgx \
    shadow \
    src \
    _ssh \
    staff \
    sudo \
    sys \
    systemd-journal \
    systemd-network \
    systemd-resolve \
    tape \
    tty \
    users \
    utmp \
    uucp \
    uuidd \
    video \
    voice \
    www-data \
"
args="-v"
for g in ${groups}; do
    args="$args -e $g"
done

cukinia_log "$(_colorize yellow "--- check /etc/group ---")"

nb_group=$(echo $groups | wc -w)

GROUP_EXTRA_GROUPS=$(grep $args /etc/group | wc -l)
GROUP_NB_GROUPS=$(cat /etc/group | wc -l)

test_id "SEAPATH-00033" as "/etc/group only contains expected groups" \
    cukinia_test $GROUP_EXTRA_GROUPS -eq 0 -a $GROUP_NB_GROUPS -eq $nb_group

{% if seapath_distro == "SLES" %}
test_id "SEAPATH-00036" as "/etc/group has no group password" \
    not cukinia_cmd grep -Ev '^[^:]+:[x!*]:' /etc/group
{% else %}
GSHADOW_EXTRA_GROUPS=$(grep $args /etc/gshadow | wc -l)
GSHADOW_NB_GROUPS=$(cat /etc/gshadow | wc -l)

test_id "SEAPATH-00033" as "/etc/gshadow only contains expected groups" \
    cukinia_test $GSHADOW_EXTRA_GROUPS -eq 0 && $GSHADOW_NB_GROUPS -eq $nb_group
{% endif %}
