# Copyright (C) 2023, RTE (http://www.rte-france.com)
# Copyright (C) 2026 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

EXPECTED_GROUPS_DEBIAN=" \
    adm \
    backup \
    bin \
    crontab \
    daemon \
    dip \
    fax \
    floppy \
    games \
    irc \
    libvirt-qemu \
    list \
    mail \
    man \
    netdev \
    news \
    nogroup \
    operator \
    plugdev \
    proxy \
    rdma \
    sasl \
    src \
    staff \
    sudo \
    sys \
    uucp \
    uuidd \
    voice \
    www-data \
"

EXPECTED_GROUPS_SLES=" \
    at \
    audit \
    dnsmasq \
    libvirtdbus \
    lock \
    openvswitch \
    qemu \
    systemd-coredump \
    systemd-timesync \
    tftp \
    trusted \
    tss \
    unbound \
"

EXPECTED_GROUPS_COMMON=" \
    {{ admin_user }} \
{% if inventory_hostname in groups.get('cluster_machines', []) %}
    ceph \
    haclient \
    cephadm \
    containerized-ceph \
{% endif %}
    ansible \
    audio \
    cdrom \
    clock \
    {% if seapath_distro == "Debian" %}_chrony{% else %}chrony{% endif %} \
    dialout \
    disk \
    input \
    kmem \
    kvm \
    libvirt \
    lp \
    messagebus \
    polkitd \
    privileged \
    render \
    root \
    sgx \
    shadow \
    {% if seapath_distro == "Debian" %}Debian-snmp{% else %}snmp{% endif %} \
    {% if seapath_distro == "Debian" %}_ssh{% else %}sshd{% endif %} \
    systemd-journal \
    systemd-network \
    systemd-resolve \
    tape \
    tty \
    users \
    utmp \
    video \
"

EXPECTED_GROUPS=" \
{% if seapath_distro == "Debian" %}
$EXPECTED_GROUPS_DEBIAN \
{% elif seapath_distro == "SLES" %}
$EXPECTED_GROUPS_SLES \
{% endif %}
$EXPECTED_GROUPS_COMMON \
"

args="-v"
for g in ${EXPECTED_GROUPS}; do
    args="$args -e $g"
done

cukinia_log "$(_colorize yellow "--- check /etc/group ---")"

nb_group=$(echo $EXPECTED_GROUPS | wc -w)

GROUP_EXTRA_GROUPS=$(grep $args /etc/group | wc -l)
GROUP_NB_GROUPS=$(cat /etc/group | wc -l)

test_id "SEAPATH-00033" as "/etc/group only contains expected groups" \
    cukinia_test $GROUP_EXTRA_GROUPS -eq 0 -a $GROUP_NB_GROUPS -eq $nb_group

{% if seapath_distro == "SLES" %}
test_id "SEAPATH-00036" as "/etc/group has no group password" \
    not cukinia_cmd grep -Ev '^[^:]+:[x!*]:' /etc/group
{% else %}
GSHADOW_EXTRA_GROUPS=$(grep $args /etc/gshadow | wc -l)
GSHADOW_NB_GROUPS=$(cat /etc/gshadow | wc -l)

test_id "SEAPATH-00033" as "/etc/gshadow only contains expected groups" \
    cukinia_test $GSHADOW_EXTRA_GROUPS -eq 0 && $GSHADOW_NB_GROUPS -eq $nb_group
{% endif %}
