# Copyright (C) 2023, RTE (http://www.rte-france.com)
# Copyright (C) 2026 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

EXPECTED_USERS_DEBIAN=" \
    _apt \
    backup \
    bin \
    daemon \
    games \
    irc \
    libvirt-qemu \
    list \
    mail \
    man \
    news \
    nobody \
    proxy \
    sync \
    sys \
    uucp \
    uuidd \
    www-data \
"

EXPECTED_USERS_SLES=" \
    at \
    libvirtdbus \
    openvswitch \
    qemu \
    systemd-coredump \
    systemd-timesync \
    tftp \
    tss \
    unbound \
"

EXPECTED_USERS_COMMON=" \
    {{ admin_user }} \
{% if inventory_hostname in groups.get('cluster_machines', []) %}
    ceph \
    hacluster \
    libvirtadmin \
    containerized-ceph \
    cephadm \
{% endif %}
    ansible \
    {% if seapath_distro == "Debian" %}_chrony{% else %}chrony{% endif %} \
    dnsmasq \
    lp \
    messagebus \
    polkitd \
    root \
    {% if seapath_distro == "Debian" %}Debian-snmp{% else %}snmp{% endif %} \
    sshd \
    systemd-network \
    systemd-resolve \
"

EXPECTED_USERS=" \
{% if seapath_distro == "Debian" %}
$EXPECTED_USERS_DEBIAN \
{% elif seapath_distro == "SLES" %}
$EXPECTED_USERS_SLES \
{% endif %}
$EXPECTED_USERS_COMMON \
"

args="-v"
for g in ${EXPECTED_USERS}; do
    args="$args -e $g"
done

cukinia_log "$(_colorize yellow "--- check /etc/passwd ---")"

nb_passwd=$(echo $EXPECTED_USERS | wc -w)

PASSWD_EXTRA_USERS=$(grep $args /etc/passwd | wc -l)
PASSWD_NB_USERS=$(cat /etc/passwd | wc -l)

test_id "SEAPATH-00047" as "/etc/passwd only contains expected users" \
    cukinia_test $PASSWD_EXTRA_USERS -eq 0 -a $PASSWD_NB_USERS -eq $nb_passwd
