# Copyright (C) 2023, RTE (http://www.rte-france.com)
# Copyright (C) 2026 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

cukinia_log "$(_colorize yellow "--- check /etc/shadow ---")"

unlocked_users=" \
    {{ admin_user }} \
    root \
"

locked_users=" \
{% if inventory_hostname in groups.get('cluster_machines', []) %}
    cephadm \
    containerized-ceph \
    libvirtadmin \
{% endif %}
    _apt \
    _chrony \
    ansible \
    at \
    backup \
    bin \
    ceph \
    chrony \
    daemon \
    Debian-snmp \
    dnsmasq \
    games \
    gnats \
    hacluster \
    irc \
    libvirt-qemu \
    libvirtdbus \
    list \
    lp \
    mail \
    man \
    messagebus \
    news \
    nobody \
    openvswitch \
    polkitd \
    proxy \
    snmp \
    sshd \
    sync \
    sys \
    systemd-coredump \
    systemd-network \
    systemd-resolve \
    systemd-timesync \
    tftp \
    tss \
    unbound \
    uucp \
    uuidd \
    www-data \
"

ret=0
while IFS=':' read -r user lock others
do
    if echo "$unlocked_users" | grep -q -w "$user"; then
        # should be unlocked  users
        if passwd --status "$user" | cut -d ' ' -f 2 | grep -q L ; then
            cukinia_log "$user should be unlocked"
            ret=1
            break
        fi
    elif echo "$locked_users" | grep -q -w "$user"; then
        if passwd --status "$user" | cut -d ' ' -f 2 | grep -q P ; then
            cukinia_log "$user should be locked"
            ret=1
            break
        fi
    else
        cukinia_log "$user should be either in locked or unlocked list"
        ret=1
        break
    fi
done </etc/shadow
test_id "SEAPATH-00046" as "/etc/shadow is consistent" cukinia_test $ret -eq 0
