# Copyright (C) 2025 Savoir-faire Linux, Inc.
# SPDX-Licence-Identifier: Apache-2.0

[Match]
Name=lan_hsr-prp
Driver=igb
PermanentMACAddress={{ mac_address }}

[Link]
NamePolicy=
AlternativeNamesPolicy=
Name=lan_hsr-prp
