# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- include_vars: "{{ seapath_distro }}.yml"

- name: Synchronization of src vm_manager on the control machine to dest on the remote hosts
  ansible.posix.synchronize:
    src: vm_manager
    dest: /tmp/src
    rsync_opts:
      - "--chown=root:root"
- name: Install vm_manager
  command:
    cmd: "/usr/bin/pip install {{ deploy_vm_manager_pip_options }} ."
    chdir: /tmp/src/vm_manager
  changed_when: true
- name: Create a symbolic link
  ansible.builtin.file:
    src: /usr/local/bin/vm_manager_cmd
    dest: /usr/bin/vm-mgr
    state: link
