# Copyright (C) 2021, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0
rstcheck
sphinx
sphinx-notfound-page
Pygments >= 2.4.0
docutils == 0.16
ansible >=2.9,<2.10
yamllint
netaddr
