[Unit]
Description=Prometheus Node Exporter
After=network-online.target
Wants=network-online.target

[Container]
Image={{ deploy_prometheus_exporters_node_exporter_image }}
PodmanArgs=--pid=host
PodmanArgs=--network=host
PodmanArgs=--hostname=%H
Volume=/:/host:ro,rslave
Volume=/var/run/dbus:/var/run/dbus:ro
Exec=--path.rootfs=/host --collector.textfile.directory=/host/var/lib/prometheus/node_exporter --web.listen-address={{ deploy_prometheus_exporters_listen_address }}:9100 --collector.systemd

[Service]
Restart=unless-stopped
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target
