# This file overwrite a sudoers file created by ceph.
# The original file contains two rules :
#
# ceph ALL=NOPASSWD: /usr/sbin/smartctl -a --json=o /dev/*
# ceph ALL=NOPASSWD: /usr/sbin/nvme * smart-log-add --json /dev/*
#
# The first rule is modified to target the right disk instead of a wildcard
# The second one is remove cause the needed packages are not installed
#
# The replace directive add an escape backslash before the colon character
# for the file to be properly parsed.

{% if ceph_osd_disk is defined %}
ceph ALL=NOPASSWD: /usr/sbin/smartctl -a --json=o {{ ceph_osd_disk_stat.stat.lnk_source }}
{% endif %}
