# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- debug:  # noqa: name[missing]
    msg: "the network pool name is {{ network_sriovpool_sriov_network_pool_name }}"
- name: Try to get sriov network pool
  shell:
    cmd: set -o pipefail && virsh -q net-list --all | awk '{ print $1 }' | grep -q "{{ network_sriovpool_sriov_network_pool_name }}"
    executable: /bin/bash
  register: network_sriovpool_pool_defined
  failed_when: network_sriovpool_pool_defined.rc > 1
  changed_when: false
- when: network_sriovpool_pool_defined.rc != 0
  block:
    - name: Copy libvirt xml SRIOV network pool file
      template:
          src: sriov_network_pool.xml.j2
          dest: /tmp/sriov_network_pool.xml
    - name: Create libvirt SRIOV network pool
      command: "virsh net-define /tmp/sriov_network_pool.xml"
      changed_when: true
    - name: AutoStart libvirt SRIOV network pool
      command: "virsh net-autostart {{ network_sriovpool_sriov_network_pool_name }}"
      changed_when: true
    - name: Start libvirt SRIOV network pool
      command: "virsh net-start {{ network_sriovpool_sriov_network_pool_name }}"
      changed_when: true
    - name: Remove temporary file
      file:
          path: /tmp/sriov_network_pool.xml
          state: absent
