# This file overwrite a sudoers file created by ceph.
# The original file contains two rules :
#
# ceph ALL=NOPASSWD: /usr/sbin/smartctl -a --json=o /dev/*
# ceph ALL=NOPASSWD: /usr/sbin/nvme * smart-log-add --json /dev/*
#
# The first rule is modified to target the right disks instead of a wildcard
# The second one is remove cause the needed packages are not installed
#
# The replace directive add an escape backslash before the colon character
# for the file to be properly parsed.

{% for disk in configure_hardening_physical_machine_ceph_osd_disk_stat.results | default([]) %}
ceph ALL=NOPASSWD: /usr/sbin/smartctl -a --json=o {{ disk.stat.lnk_source | default(disk.item) }}
{% endfor %}
