[machines]
{% for hypervisor in groups['hypervisors'] %}
hypervisor{{loop.index}} = {{ hypervisor }}
{% endfor %}
{% if ( groups['observers'] is defined) and groups['observers'] and (corosync_use_qdevice is undefined or not corosync_use_qdevice) %}
observer = {{ groups['observers'][0] }}
{% endif %}
