defaults
auth           off
tls            off
tls_starttls   off
logfile        /var/log/msmtp/msmtp.log

account        system
auth           off
tls            off
tls_starttls   off
host           {{mailhost}}
port           5055
from           seapath_{{ inventory_hostname }}@rte-france.com

account default : system
