{% set OVS_configuration = ({ "bridges": ovs_bridges | default([]), "ignored_bridges": ignored_bridges | default([]), "unbind_pci_address": unbind_pci_address | default([]) }) %}
{{ OVS_configuration | to_nice_json }}
