<!-- Copyright (C) 2020, RTE (http://www.rte-france.com) -->
<!-- SPDX-License-Identifier: Apache-2.0 -->
<secret ephemeral='no' private='no'>
        <uuid>{{ libvirt_uuid_rbd }}</uuid>
        <usage type='ceph'>
                <name>client.libvirt secret</name>
        </usage>
</secret>
