# Copyright (C) 2020, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0
# {{ ansible_managed }}

[Unit]
Description=setup openvswitch
After=tlp-init.service
After=votp-config_ovs.service
Wants=network-online.target
[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/opt/setup/setup_ovs.sh
[Install]
WantedBy=multi-user.target
