@version: 3.27
# Copyright (C) 2022, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

# First, set some global options.
options {
        chain_hostnames(off);
        flush_lines(0);
        use_dns(no);
        dns_cache(no);
        use_fqdn(no);
        owner("root");
        group("adm");
        perm(0640);
        stats_freq(0);
        bad_hostname("^gconfd$");
};

########################
# Sources
########################
# This is the default behavior of sysklogd package
# Logs may come from unix stream, but not from another machine.
#
source s_src {
        systemd_journal();
        internal();
        file("/proc/kmsg" program_override("kernel"));
};

########################
# Destinations
########################
destination d_syslog { file("/var/log/syslog-ng/syslog.local"); };

{% if syslog_server_ip is defined %}
# Network destination
# mem-buff-size is set to 163840000 ~= 156MB (default value)
# disk-buf-size is set to 1073741824 = 1GB
destination d_net {
        network(
                "{{ syslog_server_ip }}"
{% if syslog_tls_ca is defined and syslog_tls_key is defined %}
                port({{ syslog_tls_port | default(6514) }})
                transport("tls")
                tls(
                        key-file("/etc/syslog-ng/cert.d/clientkey.pem")
                        cert-file("/etc/syslog-ng/cert.d/clientcert.pem")
                        ca-dir("/etc/syslog-ng/ca.d")
                )
{% else %}
                port({{ syslog_tcp_port | default(601) }})
                transport("tcp")
{% endif %}
                time_zone("UTC")
                disk-buffer(
                        mem-buf-size(16384000)
                        disk-buf-size(107374182)
                        reliable(yes)
                        dir("/var/log/syslog-ng")
                )
        );
 };
{% endif %}

########################
# Log paths
########################
{% if syslog_local is defined %}
log { 
    source(s_src);
    destination(d_syslog);
};
{% endif %}
{% if syslog_server_ip is defined %}
log { 
    source(s_src);
{% if ansible_distribution == 'Debian' and ansible_distribution_version | int < 12 %}
    if (program("libvirtd")) {
      rewrite { set-facility("daemon"); };
    };
{% endif %}
    destination(d_net);
};
{% endif %}

