[Service]
ExecStart=
ExecStart=/lib/systemd/systemd-networkd-wait-online -i {{ 'vlan'+br0vlan|string if br0vlan is defined else 'br0' }} -i {{ 'hsr0' if cluster_protocol is defined and cluster_protocol == 'HSR' else 'team0' }}
