# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- name: Check for existing installation (ceph-ansible only)
  when: not (is_using_cephadm | default(false))
  block:
  - name: Create Ceph log directory
    file:
        path: /var/log/ceph
        owner: ceph
        group: ceph
        mode: "0770"
        state: directory
  - name: Create Ceph crash directory
    file:
        path: /var/lib/ceph/crash/posted
        owner: ceph
        group: ceph
        mode: "0770"
        state: directory
    register: ceph_prepare_installation_new_ceph_installation

- name: Prepare OSD disk # noqa: no-handler
  when:
    - ceph_prepare_installation_new_ceph_installation.changed | default(false) or is_using_cephadm | default(false)
  block:
    - name: Refresh LVM VG
      command:
        cmd:  vgchange --refresh
      changed_when: true
    - name: Cleanup LV if we are in existing LV situation
      when:
        - lvm_volumes is defined
        - ansible_lvm['lvs'][lvm_volumes[0].data] is defined
        - not (is_using_cephadm | default(false))
      block:
        - name: Cleanup Ceph LV with ceph-volume
          command: "ceph-volume lvm zap /dev/{{ lvm_volumes[0].data_vg }}/{{ lvm_volumes[0].data }}"
          changed_when: true
    - name: Create VG/LV if they don't exist
      when:
        - lvm_volumes is not defined or ansible_lvm['lvs'][lvm_volumes[0].data] is not defined
      block:
        - name: Get real path for OSD disk
          command: "realpath {{ ceph_osd_disk }}" # Get the resolved path of the disk given initialy by the "/dev/disk/by-path/" for ceph purposes
          register: ceph_prepare_installation_ceph_osd_realdisk
          changed_when: false
        - name: Cleanup Ceph OSD disks with ceph-volume
          command: "ceph-volume lvm zap {{ ceph_prepare_installation_ceph_osd_realdisk.stdout }} --destroy" # Zapping the disk and destroying any vgs or lvs present
          when:
            - lvm_volumes is not defined or lvm_volumes[0].device_number == 1 # The disk must not be zapped in the case of a single disk for linux and ceph
            - not (is_using_cephadm | default(false))
          changed_when: true
        - name: Cleanup Ceph lvm's partition with ceph-volume
          command: "ceph-volume lvm zap /dev/{{ lvm_volumes[0].data_vg }}" # In the case of a single-disk installation, only the Ceph partition is zapped
          when:
            - lvm_volumes is defined and ansible_lvm['lvs'][lvm_volumes[0].data] is defined
            - not (is_using_cephadm | default(false))
          changed_when: true
        - name: Create volumes for OSD disk
          when:
            - lvm_volumes is defined
          block:
            - name: Get partition info
              community.general.parted:
                device: "{{ ceph_prepare_installation_ceph_osd_realdisk.stdout }}"
                unit: MiB
                state: info
              register: ceph_prepare_installation_parted_info

            - name: Check if current partition exists
              set_fact:
                ceph_prepare_installation_current_exists: >-
                  {{ ceph_prepare_installation_parted_info.partitions
                     | selectattr('num', 'equalto', lvm_volumes[0].device_number)
                     | list | length > 0 }}

            - name: Check if previous partition exists
              set_fact:
                ceph_prepare_installation_previous_exists: >-
                  {{ lvm_volumes[0].device_number > 1 and (
                       ceph_prepare_installation_parted_info.partitions
                       | selectattr('num', 'equalto', lvm_volumes[0].device_number - 1)
                       | list | length > 0 ) }}

            - name: Set ceph_prepare_installation_prev_end based on previous partition or zero
              set_fact:
                ceph_prepare_installation_prev_end: >-
                  {{ (
                        ceph_prepare_installation_parted_info.partitions
                        | selectattr('num', 'equalto', lvm_volumes[0].device_number - 1)
                        | map(attribute='end')
                        | first
                      ) | float if ceph_prepare_installation_previous_exists else 0.0 }}

            - debug:  # noqa: name[missing]
                var: ceph_prepare_installation_prev_end
            - debug:  # noqa: name[missing]
                var: lvm_volumes[0].device_size
            - debug:  # noqa: name[missing]
                msg: "{{ ((ceph_prepare_installation_prev_end | float) + (lvm_volumes[0].device_size | float)) | round(2) }}"

            - name: Calculate partition boundaries
              set_fact:
                ceph_prepare_installation_part_start: "{{ '0%' if (ceph_prepare_installation_prev_end | float) == 0 else (ceph_prepare_installation_prev_end | float | round(2)) ~ 'MiB' }}"
                ceph_prepare_installation_part_end: "{{ ((ceph_prepare_installation_prev_end | float) + (lvm_volumes[0].device_size | float) | float) | round(2) }}MiB"
              when: ceph_prepare_installation_previous_exists or lvm_volumes[0].device_number == 1

            - name: Create partition, VG and LV
              when:
                - not ceph_prepare_installation_current_exists
                - ceph_prepare_installation_previous_exists or lvm_volumes[0].device_number == 1
              block:
                - name: Create partition using parted module
                  community.general.parted:
                    device: "{{ ceph_prepare_installation_ceph_osd_realdisk.stdout }}"
                    number: "{{ lvm_volumes[0].device_number }}"
                    label: gpt
                    name: ""
                    ceph_prepare_installation_part_start: "{{ ceph_prepare_installation_part_start }}"
                    ceph_prepare_installation_part_end: "{{ ceph_prepare_installation_part_end }}"
                    flags:
                      - lvm
                    state: present
                  register: ceph_prepare_installation_ceph_osd_result
                - name: Get disk/by-path of OSD disk
                  command: "/usr/bin/find -L /dev/disk/by-path -samefile {{ ceph_prepare_installation_ceph_osd_result.disk.dev }} -print -quit"
                  register: ceph_prepare_installation_ceph_osd_finddisk
                  changed_when: false
                - name: Create volume group on the partition
                  community.general.lvg:
                    vg: "{{ lvm_volumes[0].data_vg }}"
                    pvs: "{{ ceph_prepare_installation_ceph_osd_finddisk.stdout }}-part{{ lvm_volumes[0].device_number }}"
                - name: Create logical volume in the VG
                  community.general.lvol:
                    vg: "{{ lvm_volumes[0].data_vg }}"
                    lv: "{{ lvm_volumes[0].data }}"
                    size: "{{ lvm_volumes[0].data_size }}"
