# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- name: Create Ceph log directory
  file:
      path: /var/log/ceph
      owner: ceph
      group: ceph
      mode: "0770"
      state: directory
- name: Create Ceph crash directory
  file:
      path: /var/lib/ceph/crash/posted
      owner: ceph
      group: ceph
      mode: "0770"
      state: directory
  register: new_ceph_installation

- name: Prepare OSD disk
  block:
    - name: Refresh LVM VG
      command:
        cmd:  vgchange --refresh
    - name: Cleanup LV if we are in existing LV situation
      block:
        - name: Cleanup Ceph LV with ceph-volume
          command: "ceph-volume lvm zap /dev/{{ lvm_volumes[0].data_vg }}/{{ lvm_volumes[0].data }}"
      when:
        - lvm_volumes is defined
        - ansible_lvm['lvs'][lvm_volumes[0].data] is defined
    - name: Create VG/LV if they don't exist
      block:
        - name: Get real path for OSD disk
          command: "realpath {{ ceph_osd_disk }}" # Get the resolved path of the disk given initialy by the "/dev/disk/by-path/" for ceph purposes
          register: ceph_osd_realdisk
        - name: Cleanup Ceph OSD disks with ceph-volume
          command: "ceph-volume lvm zap {{ ceph_osd_realdisk.stdout }} --destroy" # Zapping the disk and destroying any vgs or lvs present
          when: lvm_volumes is not defined or lvm_volumes[0].device_number == 1 # The disk must not be zapped in the case of a single disk for linux and ceph
        - name: Cleanup Ceph lvm's partition with ceph-volume
          command: "ceph-volume lvm zap /dev/{{ lvm_volumes[0].data_vg }}" # In the case of a single-disk installation, only the Ceph partition is zapped
          when: lvm_volumes is defined and ansible_lvm['lvs'][lvm_volumes[0].data] is defined
        - name: Create volumes for OSD disk
          block:
            - name: Create partition on OSD disks with parted
              community.general.parted:
                device: "{{ ceph_osd_realdisk.stdout }}"
                number: "{{ lvm_volumes[0].device_number }}"
                label: gpt # Must be the same type as the partition table of the disk used
                state: present
                unit: MB
                part_start: "-{{ lvm_volumes[0].device_size }}" # Negative numbers specifie the distance from the end of the disk
              register: ceph_osd_result
            - name: Get disk/by-path of OSD disk
              command: "/usr/bin/find -L /dev/disk/by-path -samefile {{ ceph_osd_result.disk.dev }} -print -quit"
              register: ceph_osd_finddisk
            - name: Create volume group on the partition
              community.general.lvg:
                vg: "{{ lvm_volumes[0].data_vg }}"
                pvs: "{{ ceph_osd_finddisk.stdout }}-part{{ lvm_volumes[0].device_number }}"
            - name: Create logical volume in the VG
              community.general.lvol:
                vg: "{{ lvm_volumes[0].data_vg }}"
                lv: "{{ lvm_volumes[0].data }}"
                size: "{{ lvm_volumes[0].data_size }}"
          when:
            - lvm_volumes is defined
      when:
        - lvm_volumes is not defined or ansible_lvm['lvs'][lvm_volumes[0].data] is not defined
  when:
    - new_ceph_installation.changed
