# This netplan files defines the path of the cluster network which is managed
# by systemd. Especially, it attributes its cluster IP addr to each node.
network:
  version: 2
  ethernets:
    "{{ team0_0|default('0') }}":
      mtu: 1800
      dhcp4: no
      dhcp6: no
      optional: true
    "{{ team0_1|default('0') }}":
      mtu: 1800
      dhcp4: no
      dhcp6: no
      optional: true
  bridges:
    team0:
      interfaces:
        - "{{ team0_0|default('0') }}"
        - "{{ team0_1|default('0') }}"
      addresses:
        - "{{ cluster_ip_addr|default('0') }}/{{ subnet|default(24) }}"
      openvswitch:
        rstp: true
        other-config:
          rstp-priority: "{{ br_rstp_priority }}"
      parameters:
        stp: false
        forward-delay: 4
      mtu: 1800
      dhcp4: no
      dhcp6: no
