# This netplan files defines the path of the cluster network which is managed
# by systemd. Especially, it attributes its cluster IP addr to each node.
network:
  version: 2
  ethernets:
    team00:
      match:
        name: "{{ team0_0|default('0') }}"
      mtu: 1800
      dhcp4: no
      dhcp6: no
      optional: true
    team01:
      match:
        name: "{{ team0_1|default('0') }}"
      mtu: 1800
      dhcp4: no
      dhcp6: no
      optional: true
    team0:
      addresses:
        - "{{ cluster_ip_addr|default('0') }}/{{ subnet|default(24) }}"
      mtu: 1800
      dhcp4: no
      dhcp6: no
      optional: true
