# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- name: Synchronization of backup-restore folder on the control machine to dest on the remote hosts
  ansible.posix.synchronize:
    src: scripts/
    dest: /usr/local/bin/
    rsync_opts:
      - "--chown=root:root"
      - "--exclude=*.j2"
- name: Copy backup-restore templates
  template:
    src: "{{ item }}"
    dest: /usr/local/bin/{{ item | basename | regex_replace('\.j2$', '') }}
    mode: '0755'
  with_fileglob:
    - scripts/*.j2
- name: create /etc/backup-restore.conf file
  file:
    path: "/etc/backup-restore.conf"
    state: touch
    mode: 0644
    owner: root
    group: root
- name: check configuration of backup-restore.sh tool (remote_shell)
  shell: 'grep -c "^remote_shell=" /etc/backup-restore.conf || true'
  register: check_remote_shell
- name: add default configuration of backup-restore.sh tool (remote_shell)
  lineinfile:
    dest: /etc/backup-restore.conf
    regexp: "^remote_shell="
    line: "remote_shell=\"ssh\""
    state: present
  when: check_remote_shell.stdout == "0"

