# Copyright (C) 2021, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description="Configure OVS bridges and ports"
After=ovs-vswitchd.service
Before=libvirtd.service
Before=systemd-networkd.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/mkdir -p /var/run/openvswitch/vm-sockets
ExecStartPre=/bin/chown {{ deploy_python3_setup_ovs_qemu_user }}:root /var/run/openvswitch/vm-sockets
ExecStartPre=/bin/chmod 0750 /var/run/openvswitch/vm-sockets
ExecStart=/usr/local/bin/setup_ovs

[Install]
WantedBy=multi-user.target
