# Copyright (C) 2023, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

# This playbook call all necessary playbooks to configure the CI and the SEAPATH
# cluster
---
- name: Cleanup syslog-ng files and restore snapshot
  hosts: cluster_machines
  become: true
  roles:
    - ci_cleanup_syslog
    - ci_restore_snapshot

- name: CI configure skip reboot
  hosts:
    - cluster_machines
    - standalone_machine
  tasks:
  - name: CI configure skip setup_debian reboots
    set_fact:
      skip_reboot_setup: true
      skip_reboot_setup_network: true

- import_playbook: ./seapath_setup_main.yaml
- import_playbook: ./seapath_setup_hardened_debian.yaml
