# Copyright (C) 2023, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

# This playbook call all necessary playbooks to configure the CI and the SEAPATH
# cluster
---
- name: Cleanup /var/log folders and restore snapshot
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  gather_facts: true
  roles:
    - detect_seapath_distro
    - role: ci_reinstalliso
      when: seapath_distro == "Debian"
    - role: ci_restoredd
      when: seapath_distro == "OracleLinux"
    - role: ci_cleanup_varlog
      when: seapath_distro != "Debian" and seapath_distro != "OracleLinux"
    - role: ci_restore_snapshot
      when: seapath_distro != "Debian" and seapath_distro != "OracleLinux"

- name: CI configure skip reboot
  hosts:
    - cluster_machines
    - standalone_machine
  tasks:
  - name: CI configure skip setup_debian reboots
    ansible.builtin.set_fact:
      skip_reboot_setup: true
      skip_reboot_setup_network: true
    when: seapath_distro != "CentOS"

- name: Import seapath_setup_main playbook
  import_playbook: ./seapath_setup_main.yaml
- name: Import seapath_setup_hardened_debian playbook
  import_playbook: ./seapath_setup_hardened_debian.yaml
  when: seapath_distro == "Debian"
