# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-Licence-Identifier: Apache-2.0

# Ansible playbook that deploy and set-up ptp on vms for a standalone machine

- name: Import deploy_vms_standalone
  import_playbook: deploy_vms_standalone.yaml

- name: Synchronise VMs with PTP
  hosts: VMs
  roles:
    - ci_yocto/synchronise_vms
