- name: Configure ssh keys between hosts
  hosts: cluster_machines
  become: true
  gather_facts: yes
  tasks:
    - name: generate SSH key
      user:
        name: "root"
        generate_ssh_key: yes
        ssh_key_type: rsa
        ssh_key_bits: 4096
        ssh_key_file: .ssh/id_rsa
        ssh_key_passphrase: ""
        force: no

    - name: Fetch the keyfile
      fetch:
        src: "/root/.ssh/id_rsa.pub"
        dest: "buffer/{{ inventory_hostname }}-id_rsa.pub"
        flat: yes

    - name: Copy the key add to authorized_keys using Ansible module
      authorized_key:
        user: virtu
        state: present
        path: /home/virtu/.ssh/authorized_keys
        #path: /etc/ssh/root/authorized_keys
        key: "{{ lookup('file','buffer/' + item + '-id_rsa.pub') }}"
      with_items: "{{ groups['cluster_machines'] }}"

    - name: Fetch the keyfile
      fetch: 
        src: "/etc/ssh/ssh_host_rsa_key.pub"
        dest: "buffer/{{ inventory_hostname }}-id_rsa_host.pub"
        flat: yes

    - name: populate the known_hosts files
      known_hosts:
        path: /root/.ssh/known_hosts
        name: "{{ item }}"
        key: "{{ item }} {{ lookup('file','buffer/' + item + '-id_rsa_host.pub') }}"
      with_items: "{{ groups['cluster_machines'] }}"

