# Copyright (C) 2023, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

- name: Prerequis machine debian
  hosts:
    - cluster_machines
    - standalone_machine
    - VMs
  become: true
  roles:
    - debian
- name: Prerequis hypervisor debian
  hosts:
    - hypervisors
    - standalone_machine
  become: true
  roles:
    - debian/hypervisor

- name: Disable libvirt-guests.service
  hosts:
    - cluster_machines
  become: true
  tasks:
    - name: disable libvirt-guests.service
      ansible.builtin.systemd:
        name: libvirt-guests.service
        enabled: no
        state: stopped
