# Copyright (C) 2022, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

# Ansible playbook that creates the cluster by configuring Corosync and
# Pacemaker.

---
- name: Configure HA basics
  hosts: cluster_machines
  become: true
  gather_facts: true
  vars:
    tmpdir: "/tmp"
    corosync_node_list: "{{ groups['cluster_machines'] | list }}"
  roles:
    - configure_ha
