# Copyright (C) 2022, RTE (http://www.rte-france.com)
# Copyright (C) 2024-2025 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

# This playbook adds and configures the Libvirt administration user.
# It is used
# - to migrate VM from a host to an other without halting it.
# - to access the console of a VM over the cluster

---
- name: Create libvirtadmin user
  hosts: hypervisors:&cluster_machines
  gather_facts: true
  become: true
  roles:
    - detect_seapath_distro
    - add_libvirtadmin_user
