# Copyright (C) 2023, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

# This playbook setup SEAPATH on a debian machine
# The machine must previously have been flashed
# with an iso created by build_debian_iso
# This playbooks can also configure VMs created with build_debian_iso

- name: Check if we are using a correct seapath flavor
  hosts:
    - cluster_machines
    - standalone_machine
    - VMs
  tasks:
    - name: Retrieve Seapath system version
      command: "uname -a"
      register: "uname_output"

    - name: Check if current Ansible branch is compatible
      fail:
        msg: "The current branch (debian-main) is incompatible with the Yocto version of SEAPATH. Please use the main branch to configure this machine"
      failed_when:
        - not(uname_output.stdout | regex_search("Debian"))

- import_playbook: cluster_setup_prerequisdebian.yaml
- import_playbook: cluster_setup_network.yaml
- import_playbook: cluster_setup_ceph.yaml
- import_playbook: cluster_setup_libvirt.yaml
- import_playbook: cluster_setup_ha.yaml
- import_playbook: cluster_setup_keys.yaml
- name: Restart all hosts
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  tasks:
    - name: Restart to configure Debian
      reboot:
      when:
        - skip_reboot_setup_debian is not defined or not skip_reboot_setup_debian
    - name: Wait for host to be online
      wait_for_connection:
