# Copyright (C) 2023, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

---
- hosts: hypervisors
  name: Create and start VMs
  gather_facts: false
  become: true
  vars:
    disk_pool: "/var/lib/libvirt/images"
    disk_copy: true
  roles:
    - deploy_vms_standalone

- hosts: VMs
  name: Wait for VMs to be online
  gather_facts: false
  tasks:
    - name: Wait for VM connections
      wait_for_connection:
