# Copyright (C) 2021, RTE (http://www.rte-france.com)
# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0
# Deploy all VMs define in the VMs group

---
- name: Deploy VMs on cluster
  hosts: "{{ groups.hypervisors[0] }}"
  gather_facts: false
  become: true
  tasks:
  - name: Deploy VMs on Cluster Role
    with_items: "{{ groups['VMs'] }}"
    include_role:
      name: deploy_vms_cluster
