# Copyright (C) 2022, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0
---
- name: Sanity check
  hosts: localhost
  pre_tasks:
    - name: Exit playbook, if no machine was given
      fail:
        msg: "machine_to_remove must be declared"
      when: machine_to_remove is undefined

- name: Import replace_machine_find_online_ceph_machine playbook
  import_playbook: replace_machine_find_online_ceph_machine.yaml
  when: groups['mon_host'] is undefined

- name: Try to find OSD
  hosts: cluster_machines
  become: true
  tasks:
    - name: Get OSD to shrink
      script: "../scripts/get_osd.py {{ hostvars[machine_to_remove].get('hostname', machine_to_remove) }}"
      register: raw_osd
      delegate_to: "{{ groups['mon_host'][0] }}"
    - debug:  # noqa: name[missing]
        var: raw_osd
    - name: Register OSD
      set_fact:
        osd_to_kill: "{{ raw_osd.stdout_lines[0] }}"
      when: raw_osd.stdout
      delegate_to: "{{ groups['mon_host'][0] }}"
    - debug:  # noqa: name[missing]
        var: osd_to_kill

- name: Import replace_machine_shrink_osd playbook
  import_playbook: replace_machine_shrink_osd.yaml
  when: osd_to_kill is defined

- name: Import replace_machine_shrink_mon playbook
  import_playbook: replace_machine_shrink_mon.yaml
  vars:
    mon_to_kill: "{{ hostvars[machine_to_remove].get('hostname', machine_to_remove) }}"

- name: Import replace_machine_shrink_pacemaker playbook
  import_playbook: replace_machine_shrink_pacemaker.yaml
  vars:
    pacemaker_machine: mon_host
