# Copyright (C) 2024 Red Hat, Inc.
# Copyright (C) 2021-2024, RTE (http://www.rte-france.com)
# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

# This playbook setup SEAPATH on both debian and CentOS machines
# The machine must previously have been flashed
# with an iso created by build_debian_iso or CentOS with appropriate kickstart file
# This playbooks can also configure VMs created with build_debian_iso
# This playbook also configures Yocto standalone machine (no cluster)

- name: Gather ansible_distribution
  hosts:
    - cluster_machines
    - standalone_machine
  tasks:
    - name: Gather only the ansible_distribution fact
      ansible.builtin.setup:
        filter: ansible_distribution

- import_playbook: seapath_setup_prerequiscentos.yaml
  when: ansible_distribution | regex_search("CentOS|RedHat")

- import_playbook: seapath_setup_prerequisdebian.yaml
  when: ansible_distribution | regex_search("Debian")

- import_playbook: seapath_setup_prerequisyocto.yaml
  when: ansible_distribution | regex_search("Yocto")

- import_playbook: seapath_setup_network.yaml
- import_playbook: seapath_setup_time_synchronization.yaml
- name: Configure snmp
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  roles:
    - snmp

- import_playbook: cluster_setup_ceph.yaml
- import_playbook: cluster_setup_libvirt.yaml
- import_playbook: cluster_setup_add_livemigration_user.yaml
- import_playbook: cluster_setup_ha.yaml

- name: Restart all hosts
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  tasks:
    - name: Restart to configure SEAPATH
      reboot:
      when:
        - skip_reboot_setup is not defined or not skip_reboot_setup
    - name: Wait for host to be online
      wait_for_connection:
