# Copyright (C) 2021, RTE (http://www.rte-france.com)
# Copyright (C) 2024-2025 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

# This Ansible playbook configures a SEAPATH machine.
# It launches the Yocto flavor specific tasks

- name: Add kernel parameters
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  roles:
    - yocto/kernel_params

- name: Configure hugepages
  hosts: hypervisors
  become: true
  roles:
    - yocto/hugepages

- name: Configure SR-IOV
  hosts: hypervisors
  become: true
  roles:
    - yocto/sriov

- name: Upload extra files
  hosts:
    - cluster_machines
    - standalone_machine
    - VMs
  become: true
  tasks:
    - name: Upload extra files
      copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: "{{ item.owner | default('root') }}"
        group: "{{ item.group | default('root') }}"
        mode: "{{ item.mode | default('0644') }}"
        backup: yes
      with_items: "{{ upload_files }}"
      when:
        - upload_files is defined
        - item.extract is not defined or item.extract is false
    - name: Upload extra files and extract them
      unarchive:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: "{{ item.owner | default('root') }}"
        group: "{{ item.group | default('root') }}"
        mode: "{{ item.mode | default('0644') }}"
      with_items: "{{ upload_files }}"
      when:
        - upload_files is defined
        - item.extract is defined and item.extract is true
    - name: Run extra commands after upload
      shell: "{{ item }}"
      tags:
        - skip_ansible_lint
      loop: "{{ commands_to_run_after_upload }}"
      when: commands_to_run_after_upload is defined
