# Copyright (C) 2023-2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

# This playbook updates a standalone machine .
# The variables machine_to_update and swu_image must be provided on the
# command line

---
- name: Update machine
  hosts: "{{ machine_to_update }}"
  tasks:
    - name: Copy SWU file on machine
      copy:
        src: "../swu_images/{{ swu_image }}"
        dest: "/tmp/update.swu"
    - name: Apply update
      command: swupdate -i /tmp/update.swu
      changed_when: true
    - name: Reboot host
      reboot:
        msg: "Reboot initiated by Ansible"
        connect_timeout: 5
        reboot_timeout: 600
        pre_reboot_delay: 0
        post_reboot_delay: 30
        test_command: whoami
    - name: Wait systemd has finished to boot
      command: systemctl is-system-running --wait
      register: system_status
      failed_when: system_status.rc != 0 and system_status.rc != 1
      changed_when: false
      tags:
        - skip_ansible_lint
    - name: Check if update has succeed
      shell:
        cmd: set -o pipefail && journalctl -u swupdate_check.service -b |grep "Update have failed"|wc -l
        executable: /bin/bash
      register: update_status
      failed_when: update_status.stdout != '0'
      changed_when: false
