# Copyright (C) 2023, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

- name: Prerequis machine debian
  gather_facts: true
  hosts:
    - cluster_machines
    - standalone_machine
    - VMs
  become: true
  roles:
    - debian
- name: Prerequis physical machine debian
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  roles:
    - debian_physical_machine
- name: Backup_restore on cluster machines
  hosts:
    - cluster_machines
  become: true
  roles:
    - backup_restore
- name: Prerequis hypervisor debian
  hosts:
    - hypervisors
    - standalone_machine
  become: true
  roles:
    - debian_hypervisor

- name: Add admin user to haclient group
  hosts:
    - cluster_machines
  become: true
  tasks:
    - name: Add admin user to haclient group
      user:
        name: "{{ admin_user }}"
        groups: haclient
        append: yes

- name: Disable libvirt-guests.service
  hosts:
    - cluster_machines
  become: true
  tasks:
    - name: Disable libvirt-guests.service
      ansible.builtin.systemd:
        name: libvirt-guests.service
        enabled: no
        state: stopped

- name: Upload extra files
  hosts:
    - cluster_machines
    - standalone_machine
    - VMs
  become: true
  tasks:
    - name: Upload extra files
      copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: "{{ item.owner | default('root') }}"
        group: "{{ item.group | default('root') }}"
        mode: "{{ item.mode | default('0644') }}"
        backup: yes
      with_items: "{{ upload_files }}"
      when:
        - upload_files is defined
        - item.extract is not defined or item.extract is false
    - name: Upload extra files and extract them
      unarchive:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: "{{ item.owner | default('root') }}"
        group: "{{ item.group | default('root') }}"
        mode: "{{ item.mode | default('0644') }}"
      with_items: "{{ upload_files }}"
      when:
        - upload_files is defined
        - item.extract is defined and item.extract is true
    - name: Run extra commands after upload
      shell: "{{ item }}"
      tags:
        - skip_ansible_lint
      loop: "{{ commands_to_run_after_upload }}"
      when: commands_to_run_after_upload is defined


- name: Remove what is not needed after installation on guests
  hosts:
    - VMs
  become: true
  tasks:
    - name: Uninstall apt packages not required after installation (trixie)
      apt:
        name:
          - gcc-12-base
          - libargon2-1
          - libfdisk1
          - libunistring2
        state: absent
        purge: yes
        autoremove: yes
      when: ansible_distribution_release == 'trixie'

- name: Remove what is not needed after installation
  hosts:
    - cluster_machines
    - standalone_machine
    - VMs
  become: true
  tasks:
    - name: Create /etc/apt/sources.list.d/
      file:
        state: directory
        path: /etc/apt/sources.list.d/
    - name: Uninstall ceph packages
      apt:
        name:
          - ceph
          - ceph-base
          - ceph-mgr
          - ceph-mon
          - ceph-osd
          - ceph-volume
        state: absent
        purge: yes
        autoremove: yes
      when: force_cephadm | default(false)
    - name: Uninstall apt packages not required after installation (all debian version)
      apt:
        name:
          - fdisk
          - ifupdown
        state: absent
        purge: yes
        autoremove: yes
    - name: Uninstall apt packages not required after installation (trixie)
      apt:
        name:
          - dhcpcd-base
          - libapt-pkg6.0
          - usr-is-merged
        state: absent
        purge: yes
        autoremove: yes
      when: ansible_distribution_release == 'trixie'
    - name: Disable unused systemd services
      systemd:
        unit: "{{ item }}"
        state: stopped
        enabled: no
        no_block: yes
      with_items:
        - apt-daily-upgrade.timer
        - apt-daily.timer
