
---
- name: Welotec hardware customization
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  gather_facts: true
  roles:
    - role: hardware_customization/welotec
      when: welotec is defined and welotec | bool
