# Copyright (C) 2020, RTE (http://www.rte-france.com)
# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

# This Ansible playbook configures the networks and defines the hostnames.

---
- name: Network configuration
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  vars_files:
    - ../vars/network_vars.yml
  roles:
    - role: network_basics
    - role: systemd_networkd
      vars:
        systemd_networkd_apply_config: "{{ apply_network_config | default(false) }}"
      when: netplan_configurations is not defined
    - role: network_netplan

- name: Configure cluster network
  hosts: cluster_machines
  become: true
  roles:
    - network_clusternetwork

- name: Configure OVS, hosts and hostname, then DNS with resolved, then systemd-networkd-wait-online.service
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  roles:
    - role: network_configovs
      vars:
        apply_config: "{{ apply_network_config | default(false) }}"
    - network_buildhosts
    - network_resolved
    - network_networkdwait

- name: Configure sriov libvirt network pool
  hosts:
    - hypervisors
  become: true
  tasks:
    - name: calling sriov network pool creation (with a loop)
      include_role:
        name: network_sriovpool
      vars:
        interface: "{{ item.key }}"
        sriov_network_pool_name: "{{ 'sr-iov-net-' + item.key }}"
      loop: "{{ sriov | dict2items }}"
      when: sriov is defined

- name: push iptables rules
  hosts:
    - cluster_machines
    - standalone_machine
  roles:
    - iptables

- name: configure guests br0 interfaces
  become: true
  hosts:
    - cluster_machines
    - standalone_machine
  roles:
    - network_guestsinterfaces

- name: conntrackd
  hosts: cluster_machines
  become: true
  roles:
    - conntrackd

- name: Restart machine if needed
  hosts:
    - cluster_machines
    - standalone_machine
  become: true
  tasks:
    - block:
        - name: Restart to configure network
          reboot:
        - name: Wait for host to be online
          wait_for_connection:
      when:
        - need_reboot is defined and need_reboot
        - skip_reboot_setup_network is not defined or not skip_reboot_setup_network
