# Copyright (C) 2024 RTE
# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

---
- when: livemigration_user is defined
  block:
  - name: Create live migration user
    user:
      name: "{{ livemigration_user }}"
      shell: /bin/bash
      system: true
      group: libvirt
      create_home: true
  - name: Unlock the user
    replace:
        path: /etc/shadow
        regexp: '^{{ livemigration_user }}:!:'
        replace: '{{ livemigration_user }}:*:'
  - name: Get root user's home directory
    shell:
      cmd: set -o pipefail && getent passwd root | cut -d ':' -f6
      executable: /bin/bash
    register: root_home_dir
    changed_when: false
  - name: Ensure .ssh directory exists
    file:
      path: "{{ root_home_dir.stdout }}/.ssh"
      state: directory
      mode: '0700'
      owner: root
      group: root
  - name: Generate root SSH key
    shell:
      cmd: |
        if [ ! -f "{{ root_home_dir.stdout }}/.ssh/id_rsa" ]; then
          ssh-keygen -t rsa -b 4096 -f "{{ root_home_dir.stdout }}/.ssh/id_rsa" -N "" -C "root@{{ inventory_hostname }}"
          echo "changed"
        else
          echo "unchanged"
        fi
      executable: /bin/bash
    register: ssh_key_result
    changed_when: "'changed' in ssh_key_result.stdout"
  - name: Fetch the root keyfile
    fetch:
      src: "{{ root_home_dir.stdout }}/.ssh/id_rsa.pub"
      dest: "buffer/{{ inventory_hostname }}-id_rsa.pub"
      flat: true
  - name: Copy the key add to authorized_keys using Ansible module
    ansible.posix.authorized_key:
      user: "{{ livemigration_user }}"
      state: present
      key: "{{ lookup('file', 'buffer/' + item + '-id_rsa.pub') }}"
    loop: "{{ groups['hypervisors'] | intersect(groups['cluster_machines']) }}"
  - name: Fetch the ssh keyfile
    fetch:
      src: "/etc/ssh/ssh_host_ed25519_key.pub"
      dest: "buffer/{{ inventory_hostname }}-ssh_host_ed25519_key.pub"
      flat: true
  - name: Populate the known_hosts files
    known_hosts:
      path: "{{ root_home_dir.stdout }}/.ssh/known_hosts"
      name: "{{ item }}"
      key: "{{ item }} {{ lookup('file', 'buffer/' + item + '-ssh_host_ed25519_key.pub') }}"
    loop: "{{ groups['hypervisors'] | intersect(groups['cluster_machines']) }}"
