# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- block:
  - name: Create live migration user
    user:
      name: "{{ livemigration_user }}"
      shell: /bin/bash
      system: true
      group: libvirt
      create_home: true
  - name: Unlock the user
    replace:
        path: /etc/shadow
        regexp: '^{{ livemigration_user }}:!:'
        replace: '{{ livemigration_user }}:*:'
  - name: generate root SSH key
    user:
      name: "root"
      generate_ssh_key: yes
      ssh_key_type: rsa
      ssh_key_bits: 4096
      ssh_key_file: .ssh/id_rsa
      ssh_key_passphrase: ""
      force: false
  - name: create livemigration .ssh directory
    file:
      path: "/home/{{ livemigration_user }}/.ssh"
      state: directory
      mode: '0700'
      owner: "{{ livemigration_user }}"
  - name: Get root user's home directory
    shell: getent passwd root | cut -d ':' -f6
    register: root_home_dir
  - name: Fetch the root keyfile
    fetch:
      src: "{{ root_home_dir.stdout }}/.ssh/id_rsa.pub"
      dest: "buffer/{{ inventory_hostname }}-id_rsa.pub"
      flat: true
  - name: Copy the key add to authorized_keys using Ansible module
    authorized_key:
      user: "{{ livemigration_user }}"
      state: present
      path: "/home/{{ livemigration_user }}/.ssh/authorized_keys"
      key: "{{ lookup('file','buffer/' + item + '-id_rsa.pub') }}"
    with_items: "{{ groups['hypervisors'] }}"
  - name: Copy the key to admin user's authorized_keys using Ansible module
    authorized_key:
      user: "{{ admin_user }}"
      state: present
      path: "/home/{{ admin_user }}/.ssh/authorized_keys"
      key: "{{ lookup('file','buffer/' + item + '-id_rsa.pub') }}"
    with_items: "{{ groups['hypervisors'] }}"
  - name: Fetch the ssh keyfile
    fetch:
      src: "/etc/ssh/ssh_host_ed25519_key.pub"
      dest: "buffer/{{ inventory_hostname }}-ssh_host_ed25519_key.pub"
      flat: true
  - name: populate the known_hosts files
    known_hosts:
      path: "{{ root_home_dir.stdout }}/.ssh/known_hosts"
      name: "{{ item }}"
      key: "{{ item }} {{ lookup('file','buffer/' + item + '-ssh_host_ed25519_key.pub') }}"
    with_items: "{{ groups['hypervisors'] }}"
  when: livemigration_user is defined
