# Copyright (C) 2022-2024, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0
---

- name: "Force loading nf_conntrack at boot"
  lineinfile:
    dest: /etc/modules-load.d/modules.conf
    regexp: "^nf_conntrack$"
    line: "nf_conntrack"
    state: present
  when: not revert
- name: "Disable force loading nf_conntrack at boot"
  lineinfile:
    dest: /etc/modules-load.d/modules.conf
    regexp: "^nf_conntrack$"
    state: absent
  when: revert

- name: Get ceph disk stats
  stat:
    path: "{{ ceph_osd_disk }}"
  register: ceph_osd_disk_stat
  when: ceph_osd_disk is defined
- name: Restrict ceph sudoers file
  template:
    src: sudoers/ceph.j2
    dest: /etc/sudoers.d/ceph-smartctl
    owner: root
    group: root
    mode: '0440'
  when: not revert

- name: adding ceph user to group privileged
  user:
    name: "ceph"
    groups: privileged
    append: yes
  when: not revert

- name: adding Debian-snmp user to group privileged
  user:
    name: "Debian-snmp"
    groups: privileged
    append: yes
  when: not revert and snmp_admin_ip_addr is defined

- name: Create systemd service.d directories
  file:
    path: "/etc/systemd/system/{{ item }}.service.d/"
    state: directory
    owner: root
    group: root
    mode: 0755
  with_items: "{{ hardened_services }}"
- name: Add systemd service hardening rules for physical machines
  copy:
    src: "{{ item }}_hardening.conf"
    dest: "/etc/systemd/system/{{ item }}.service.d/hardening.conf"
  register: services_to_restart
  with_items: "{{ hardened_services }}"
