# Copyright (C) 2023, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

name: Ansible Lint Debian

env:
  WORK_DIR: /tmp/seapath_ci_${{ github.run_id }}_${{ github.run_attempt }}_${{ github.sha }}

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches: [debiancentos]
  workflow_call:

permissions:
  actions: write

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Initialize sources
        run: mkdir ${{ env.WORK_DIR }}; cd ${{ env.WORK_DIR }};
             git clone -q --depth 1 -b ansible-lint-cqfd https://github.com/seapath/ci ci;
             echo "Sources downloaded successfully";
             ci/ansible-lint.sh init;

      - name: Lint
        run: cd ${{ env.WORK_DIR }};
             ci/ansible-lint.sh lint;

      - name: Clean
        if: always()
        run: rm -rf $WORK_DIR;
