# Copyright (C) 2023, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

name: CI debian

env:
  WORK_DIR: /tmp/seapath_ci_${{ github.run_id }}_${{ github.run_attempt }}_${{ github.sha }}

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches: [debiancentos]
  workflow_call:

permissions:
  actions: write
  checks: write

jobs:
  CI:
    runs-on: [self-hosted, runner-RTE-12, runner-redhat]
    steps:

      - name: Initialize sources
        run: mkdir ${{ env.WORK_DIR }}; cd ${{ env.WORK_DIR }};
             git clone -q --depth 1 --recurse-submodules -b main https://github.com/seapath/ci ci;
             echo "CI sources downloaded successfully";
             ci/launch.sh init;

      - name: Configure Debian
        id: conf
        run: cd ${{ env.WORK_DIR }};
             ci/launch.sh conf;

      - name: Launch system tests
        run: cd ${{ env.WORK_DIR }};
             ci/launch.sh system;

      - name: Launch VM tests
        run: cd ${{ env.WORK_DIR }};
             ci/launch.sh vm;

      - name: Launch latency tests
        run: cd ${{ env.WORK_DIR }};
             ci/launch.sh latency;

      - name: Upload test report
        if: ${{ always() && steps.conf.conclusion == 'success' }}
        run: cd ${{ env.WORK_DIR }};
             git -C ci/test-report-pdf checkout 0156f2d35ba7d5983f22b6054aa83f92a42f0f2d;
             ci/launch.sh report;

      - name: Clean
        if: always()
        run: rm -rf $WORK_DIR;
