# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0
#
# This file will execute the debian ci on the debian-main branch every saturday.
# This ensure the main branch is always tested properly.
# A badge is derived from this workflow.

name: CI debian

on:
  schedule:
    - cron: '30 22 * * 6'

jobs:
  call-workflow:
    uses: ./.github/workflows/ci-debian.yml
