# Copyright (C) 2024 RTE
# SPDX-License-Identifier: Apache-2.0

---
- name: ceph pv ang vg expansion
  block:
    - set_fact:
        unit: "{{ lvm_volumes[0].device_size | regex_replace('[0-9.]*', '') }}"
        new_pv_size: "{{ (lvm_volumes[0].device_size | regex_replace('[A-Za-z]*', '') | int) }}"
        list_pvs: "{{ ansible_lvm['pvs'] | dict2items | community.general.json_query(query) }}"
      vars:
        query: "[?value.vg=='{{ lvm_volumes[0].data_vg }}'].key"
    - name: get parted info for SD devices
      community.general.parted:
        # Get the name of the device by escaping the partition number
        device: "{{ item | regex_replace('(p?\\d+)$', '') }}"
        unit: "{{ unit }}"
      loop: "{{ list_pvs }}"
      register: parted_info
    - set_fact:
        part_info: "{{ parted_info.results | community.general.json_query(query) | first | first }}"
      vars:
        # The regex gets the number of the partition (Ex: /dev/nvme0n1p3 -> 3)
        query: "[?item=='{{ item }}'] | [].partitions[?num==`{{ item | regex_search('[0-9.]*$') }}`].{oldsize: size, end: end, newsize: `{{ new_pv_size }}` }"
      register: parts
      loop: "{{ list_pvs }}"
    - name: Extend partitions
      command:
        cmd: "/usr/sbin/parted -s {{ item.item | regex_replace('(p?\\d+)$', '') }} resizepart  {{ item.item | regex_search('[0-9.]*$') }} {{ item.ansible_facts.part_info.end + (item.ansible_facts.part_info.newsize | int) - (item.ansible_facts.part_info.oldsize | int) }}{{ unit }}"
      loop: "{{ parts.results }}"
      when: (item.ansible_facts.part_info.newsize|int) > (item.ansible_facts.part_info.oldsize|int)
    - name: Resize PVs
      command: "pvresize {{ item }}"
      loop: "{{ list_pvs }}"
  when: ansible_lvm is defined and lvm_volumes is defined
